<!DOCTYPE html>
<div>
    <div class="text-center text-info">
        <h1 class="display-4">Instructions on How to use this WebApp-"Rental Management System"</h1>
    </div>
    <hr>
    <br>

    <div class="text-align">
        <ul class=" list-group-flush">
            <li>Tenant: shows the list of tenants</li>
            <ul>
                <li>Create new Tenant: Will take you to a form to create a new tenant</li>
                <li>View Tenant: Will show the details of a selected tenant</li>
                <ul>
                    <li>Edit Tenant: will help you make corrections</li>
                    <li>Remove Tenant: will delete the tenant</li>
                </ul>
            </ul>
            <li>Rental: shows the list of rental units</li>
            <ul>
                <li>Create new Unit: Will take you to a form to create a new unit</li>
                <li>View Unit: Will show the details of a selected unit</li>
                <ul>
                    <li>Edit Unit: will help you make corrections</li>
                    <li>Assign Unit: will assign this unit to a tenant you select</li>
                    <li>UnAssign Unit: after you assign the unit, if want to unassign it, this
                        option will unassign the
                        unit</li>
                </ul>
            </ul>
            <li>Assignment: shows the list of assignments or contracts and its status</li>
            <li>Search Tenant: will help you search for a particular tenant</li>
        </ul>
    </div>
</div>
