@model AssignmentViewModel;

@{
    var action = "Create";
    if (ViewBag.IsCreating == false){
        action = "Remove";
    }

}
@if(action == "Remove"){
<div>
    <form asp-action="Remove">
        <button type="submit" class="btn btn-success">Remove</button>
    </form>
</div>
}
@if(action == "Create"){
<div>
    <form asp-action="@action">
            <input type="hidden" asp-for="Unit"/>
            <div class="form-row">

                <div class="col-md-6 mb-3">
                    <label for="validationDefault01">Tenant Id</label>
                    <input type="text" asp-for="TenantId" class="form-control" id="validationDefault01" required>
                </div>
                
            </div>
            
                <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
}